mixin nav()
    nav.nav
        .container
            ul.nav__list
                li.active
                    a(href="index.html") Кредитные карты
                li
                    a(href="#") Вклады
                li
                    a(href="#") Дебетовая карта
                li
                    a(href="#") Страхование
                li
                    a(href="#") Друзья
                li
                    a(href="#") Интернет банк