<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Thing">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="ru-RU" />


    <title>Детки! - Авторизация</title>


    <meta property="og:description" content="&nbsp;" />
    <meta itemprop="description" content="&nbsp;">

    <meta property="og:image" content="http://www.detkityumen.ru/static/images/share_tmn.png" />
    <meta itemprop="image" content="http://www.detkityumen.ru/static/images/share_tmn.png">
    <link rel="image_src" href="/static/images/share_tmn.png" />



    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js?110019140717"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js?110019140717"></script>
    <script type="text/javascript" src="/static/js/common.js?110019140717"></script>
    <script type="text/javascript" src="/static/js/feedback.js?110019140717"></script>
    <script type="text/javascript" src="/static/js/swfobject.js?110019140717"></script>
    <script type="text/javascript" src="/static/js/jquery.mousewheel-3.0.6.pack.js?110019140717"></script>
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox.js?v=2.1.5?110019140717"></script>
    <script type="text/javascript" src="/static/js/button_up.js?110019140717"></script>
    <script type="text/javascript" src="/static/js/analytics.js?110019140717"></script>
    <script type="text/javascript" src="/static/js/bbcode-img-uploader.js?110019140717"></script>
    <script type="text/javascript" src="/static/js/plupload/js/plupload.js?110019140717"></script>
    <script type="text/javascript" src="/static/js/plupload/js/plupload.flash.js?110019140717"></script>
    <script type="text/javascript" src="/static/js/plupload/js/plupload.html5.js?110019140717"></script>
    <script type="text/javascript" src="/static/js/plupload/js/plupload.html4.js?110019140717"></script>
    <script type="text/javascript" src="/static/js/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js?110019140717"></script>
    <script type="text/javascript" src="/static/js/jquery.livequery.min.js?110019140717"></script>
    <link rel="stylesheet" href="/static/css/common.css?110019140717" type="text/css" /><link type="text/css" href="/static/css/_auth.css?110019140717" rel="stylesheet" />
    <link type="text/css" href="/static/css/_forum.css?110019140717" rel="stylesheet" />
    <link type="text/css" href="/static/css/_slide.css?110019140717" rel="stylesheet" />
    <link type="text/css" href="/static/css/_calendar.css?110019140717" rel="stylesheet" />
    <link type="text/css" href="/static/css/_tabs.css?110019140717" rel="stylesheet" />
    <link type="text/css" href="/static/css/xevian_frontend_styles_calendar.css?110019140717" rel="stylesheet" />
    <script src="/static/js/scroll-startstop.events.jquery.js?110019140717" type="text/javascript"></script>
    <link type="text/css" href="/static/css/scroll.css?110019140717" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css?v=2.1.5?110019140717" type="text/css" media="screen" /><script type="text/javascript">
    var g_uploadUrl = '/forum/upload/';
    var g_csrfmiddlewaretoken = '52CwRJLAhSJxDx5j0XmCJTgThbrvF6Nw';
</script>
    <link rel="icon" href="/favicon.ico?110019140717" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico?110019140717" type="image/x-icon" />
    <style>
        div#BODY:after {
            background: url('/static/themes/native/_bg_bubbles.png') left top no-repeat;
            width: 399px;
            height: 599px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            content: "";
        }
        div#BODY:before {
            left: auto;
            right: 0;
        }
        .odd{
            background-color:#e9e8fa;
        }
        .odd:checked {
            background-color:#C4D5D8;
        }
        .even{
            background-color:#F5FCF7;
        }
        .even:checked {
            background-color:#C4D5D8;
        }
        .OddCHECKED{background-color:#C4D5D8;}
        .EvenCHECKED{background-color:#C4D5D8;}
        body a {
            color: #ff6600;
        }
    </style>


    <script type="text/javascript" src="/static/js/ckeditor_mods.js"></script>

    <meta content="df7571d96c12572dd3308b5180e3c0b5" name="cmsmagazine" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="google-site-verification" content="xwhz-nKjWORL1Bqg8KQARNgUi-AVEhiKM2LWMLO3Bkc" />
    <meta name='yandex-verification' content='6960c9ce6019db95' />



    <link rel="stylesheet" href="/static/bootstrap/dist/css/tmn/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/detki_new.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/tmn/detki_new.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/jquery.formstyler.css" type="text/css"/>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/new/common.js"></script>
    <script type="text/javascript" src="/static/js/new/jquery.formstyler.min.js"></script>

    <script type="text/javascript">
        var reCaptchaCallback = function (res) {
            $('.g-recaptcha-val').val(res)
        }
        var CaptchaCallback = function () {
            $('.g-recaptcha').each(function(index, el) {
                if(el.innerHTML == "")
                    grecaptcha.render(el, {'sitekey' : '6LdNH-8SAAAAAEsS54SlTDLlLvsWs_Z3HIb6iaBx', 'callback' : reCaptchaCallback});
            });
        }
    </script>
    <script src='https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit'></script>
</head>
<body style="background: #f2f8fb url('/static/themes/native/_bg_sky_1px.jpg') left top repeat-x;">
<div id="BODY" style="background: url('/static/themes/native/_bg_clouds.png') center top repeat-x;">
    <div class="container">
        <div class="row text-center">


            <div style="" class="banner_container">
                <div style="text-align: center;">


                    <div style="position: relative; text-align: center; height: 90px;" title="">
                        <script>
                            swfobject.embedSWF(
                                "/media/ads/c8607562-4043-4861-8386-26e8dd1402f2.swf",
                                "banner-6481", "728px", "90px", "8.0.0",
                                "", {},
                                {
                                    menu: "false",
                                    scale: "noScale",
                                    allowFullscreen: "false",
                                    allowScriptAccess: "always",
                                    bgcolor: "",
                                    wmode: "opaque"
                                },
                                { id:"banner-6481"}
                            );
                        </script>
                        <div id="banner-6481" >

                            <img src="/media/ads/5efc0445-1aae-4a41-b60b-66a534cae0a9.jpg" alt=""
                                 width="728"
                                 height="90" />

                        </div>
                        <a style="width: 728px; height: 90px; position: absolute; top: 0; left: 50%; margin: 0 0 0 -364px; background: #fff; opacity: 0.01;filter: alpha(opacity=1);" href="/adclick/6481/" target="_blank" ></a>
                    </div>


                </div>
            </div>



        </div>
    </div>
    <div class="container b-main" style="background: #f2f1f8;">
        <div class="row">
            <div class="col-xs-4">
                <div class="search-form">
                    <form method="get" action="/search/">
                        <input type="text" name="q" class="form_input" placeholder="Поиск...">
                        <button type="submit" class="btn btn-success search-form_btn"><img src="/static/images/new/search-btn.png" border="0" alt=""/></button>
                    </form>
                </div>
                <div class="city-select">
                    <img src="/static/images/new/tmn/city-select.png" border="0" alt=""/>
                    <select id="js-current-site">

                        <option value="http://www.detkityumen.ru" selected>в Тюмени</option>

                        <option value="http://www.detki55.ru" >в Омске</option>

                        <option value="http://www.kemdetki.ru" >в Кемерово</option>

                        <option value="http://detki-ugra.ru" >в Югре</option>

                    </select>
                </div>
            </div>
            <div class="col-xs-4 b-main-logo">

                <a href="/">
                    <img src="/static/images/new/tmn/logo.png" border="0" alt=""/><br>
                    <span class="green">Cайт для родителей</span><br>
                </a>

            </div>
            <div class="col-xs-4 text-center">

                <div class="login-form">
                    <form method="post" action="/login/">
                        <input type="hidden" name="csrfmiddlewaretoken" value="52CwRJLAhSJxDx5j0XmCJTgThbrvF6Nw">
                        <input type="hidden" value="1" name="this_is_the_login_form">
                        <input type="hidden" value="/login/?next=/sp/sell_list/%3Fsort%3Dstate%26page%3D%26uz%3D" name="next" >
                        <input type="text" name="username" class="form_input" placeholder="Ваш логин">
                        <input type="password" name="password" class="form_input" placeholder="Ваш пароль">
                        <button type="submit" class="btn btn-default login-form_btn"><img src="/static/images/new/tmn/LogIn.png" border="0" alt=""/></button>
                        <div class="login-link">
                            <a data-toggle="modal" data-target="#registration">Регистрация </a>I
                            <a href="/password/">Забыли пароль?</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h1 class="modal-title" id="myModalLabel">Регистрация</h1>
                        <form action="" method="post" data-validable="1" name="RegistrationForm" id="registration_form_id">
                            <input type="hidden" name="csrfmiddlewaretoken" value="52CwRJLAhSJxDx5j0XmCJTgThbrvF6Nw">
                            <input type="hidden" name="registration_widget" value="True">
                            <div>
                                Регистрируясь на сайте "Детки!", я:<br>
                                - принимаю <a href="/rules/">условия правил сайта и форума</a><br>
                                - даю своё согласие на получение рассылки материалов информационного и/или рекламного характера от сайта "Детки!"*<br>
                                - даю своё <a href="/privacy/">согласие на обработку любых моих персональных данных, указанных при регистрации</a><br>
                                - признаю, что сообщения на форуме отражают точки зрения их авторов, а не администрации сайта (кроме сообщений, размещённых её представителями) и администрация не может быть ответственна за их содержание.<br>

                                *Отключить неинтересующие Вас подписки можно после регистрации в своем личном профиле.
                            </div>
                            <h3>Все поля обязательны для заполнения:</h3>
                            <fieldset>
                                <div class="b-field-label">Логин (имя):</div>
                                <div class="b-field">
                                    <input data-required="1" name="username" maxlength="15" type="text" class="required" id="id_username" />
                                    <span id="username_error" class="clear_errors"></span>
                                    <span class="tips">Выберите себе имя от 3-х до 15-и символов.<br/> Используйте только буквы, цифры и знаки  «@», «_», «-», «'», «.», без пробелов.</span>
                                    <a href="/users/" target="_blank">проверить логин на занятость</a>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="b-field-label">Ваш E-Мail</div>
                                <div class="b-field">
                                    <input data-required="1" name="email" maxlength="75" type="text" class="required" id="id_email" />
                                    <span id="email_error" class="clear_errors"></span>
                                    <span class="tips">Этот адрес будет использоваться исключительно в Ваших интересах.<br/> Мы не рассылаем спам и не передаем адреса эл.почты третьим лицам.</span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="b-field-label"></div>
                                <div class="b-field ">
                                    <input type="hidden" name="captcha" class="g-recaptcha-val"><div class="g-recaptcha" data-sitekey="6LdNH-8SAAAAAEsS54SlTDLlLvsWs_Z3HIb6iaBx" data-callback="reCaptchaCallback"></div>

                                    <span id="captcha_error" class="clear_errors"></span>
                                </div>
                            </fieldset>
                            <div style="display: none">
                                <div class="b-captcha_img js-captcha">
                                    <img src="/captcha/image/80b36d53bfa664699a90bd3dd7686802c7321a37/" alt="captcha" class="captcha" /><a href="#">обновить картинку</a></div><div class="b-captcha_field"><input id="id_captcha_for_bot_0" name="captcha_for_bot_0" type="hidden" value="80b36d53bfa664699a90bd3dd7686802c7321a37" />
                                <input autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" id="id_captcha_for_bot_1" name="captcha_for_bot_1" type="text" />
                            </div>
                            </div>
                            <div>
                                <input id="registration_button" class="btn btn-primary reg-btn" value="Зарегистрироваться">
                                <span class="reg-tips"><i>В дальнейшем, вы сможете пройти регистрацию <br/> в разделe Совместные Покупки.</i></span>
                            </div>
                            <input type="hidden" value="register" name="form_type">
                            <input type="hidden" value="frontend" name="perm_type">
                        </form>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('.g-recaptcha').each(function(index, el) {
                                    if(el.innerHTML == "" & typeof grecaptcha !== 'undefined') {
                                        grecaptcha.render(el, {'sitekey' : '6LdNH-8SAAAAAEsS54SlTDLlLvsWs_Z3HIb6iaBx', 'callback' : reCaptchaCallback});
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>


        <div class="row text-center">
            <div class="head-menu">


                <div class="col-xs-2 head-menu_item ">
                    <a href="/news/">НОВОСТИ</a>
                </div>



                <div class="col-xs-2 head-menu_item ">
                    <a href="/firms/">КАТАЛОГ КОМПАНИЙ</a>
                </div>













                <div class="col-xs-2 head-menu_item ">
                    <a href="/conference/">КОНСУЛЬТАЦИИ</a>
                </div>



                <div class="col-xs-2 head-menu_item ">
                    <a href="/forum/">ФОРУМ</a>
                </div>


















            </div>
        </div>
        <div class="row text-center" style="position: relative;">
            <div class="head-main-menu"><div class="col-xs-1 head-main-menu_item">
                <a href="/personnel/">
                    <div class="head-main-menu_img">

                        <img src="/media/menu/mm-vrach1_1.png" border="0" alt=""/>

                    </div>
                    <div style="color:#">Врачи</div>
                </a>
            </div><div class="col-xs-1 head-main-menu_item">
                <a href="/biblio/">
                    <div class="head-main-menu_img">

                        <img src="/media/menu/mm-biblioteka1_1.png" border="0" alt=""/>

                    </div>
                    <div style="color:#">Библиотека</div>
                </a>
            </div><div class="col-xs-1 head-main-menu_item">
                <a href="/interesno/">
                    <div class="head-main-menu_img">

                        <img src="/media/menu/mm-interesno1_1.png" border="0" alt=""/>

                    </div>
                    <div style="color:#">Интересно</div>
                </a>
            </div><div class="col-xs-1 head-main-menu_item">
                <a href="/blog/">
                    <div class="head-main-menu_img">

                        <img src="/media/menu/mm-blog1_1.png" border="0" alt=""/>

                    </div>
                    <div style="color:#">Блоги</div>
                </a>
            </div><div class="col-xs-1 head-main-menu_item">
                <a href="/photo/">
                    <div class="head-main-menu_img">

                        <img src="/media/menu/mm-albom_11_1.png" border="0" alt=""/>

                    </div>
                    <div style="color:#">Альбомы</div>
                </a>
            </div><div class="col-xs-1 head-main-menu_item">
                <a href="/club/">
                    <div class="head-main-menu_img">

                        <img src="/media/menu/mm-club1_1.png" border="0" alt=""/>

                    </div>
                    <div style="color:#">Клуб</div>
                </a>
            </div><div class="col-xs-1 head-main-menu_item">
                <a href="/coupons/">
                    <div class="head-main-menu_img">

                        <img src="/media/menu/mm-sell1_1.png" border="0" alt=""/>

                    </div>
                    <div style="color:#">Скидки</div>
                </a>
            </div><div class="col-xs-1 head-main-menu_item">
                <a href="/sp/">
                    <div class="head-main-menu_img">

                        <img src="/media/menu/mm-sp1_1.png" border="0" alt=""/>

                    </div>
                    <div style="color:#">Совместные<br>покупки</div>
                </a>
            </div></div>
        </div>
        <div class="row">


            <div class="text-center">


            </div>
        </div>


        <div class="row">
            <div class="col-xs-9" style="padding-top: 20px;">

                <div class="pathTrail">

                    <a href="/">Главная</a>&nbsp;/&nbsp;
                    Личная страничка
                </div>



                <h1 style="padding-right: 170px;">Авторизация</h1>






                <form action="/login/" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="52CwRJLAhSJxDx5j0XmCJTgThbrvF6Nw">
                    <input type="hidden" value="/sp/sell_list/?sort=state&amp;page=&amp;uz=" name="next" >
                    <div class="authForm">
                        <div style="visibility: visible; color: #ff0000;" class="message">

                        </div>
                        <fieldset>
                            <div class="b-field-label">Логин:</div>
                            <div class="b-field"><input id="id_username" type="text" name="username" maxlength="30" /></div>
                        </fieldset>

                        <fieldset>
                            <div class="b-field-label">Пароль:</div>
                            <div class="b-field"><input type="password" name="password" id="id_password" /></div>
                        </fieldset>

                        <input type="submit" class="submit btn btn-primary" value="Вход" name="enter">
                        <!-- input type="checkbox" checked="checked" style="width:20px;" name="remember"> Запомнить -->

                        <input type="hidden" value="login" name="form_type">
                        <input type="hidden" value="frontend" name="perm_type">

                    </div>
                </form>








            </div>
            <div class="col-xs-3 js-content-right-col" style="margin: 40px auto 0; max-width: 250px;">































































                <div class="b-right_col_items">
                    <div class="b-vote">
                        <form id="poll" action="/pool/1286/answer/" method="POST">
                            <input type="hidden" name="csrfmiddlewaretoken" value="52CwRJLAhSJxDx5j0XmCJTgThbrvF6Nw">
                            <a href="/pool/" class="second-title">
                                <span>Голосуем!</span>
                                <img src="/static/images/new/vote-title.png" border="0" alt=""/>
                            </a>
                            <div class="b-vote-quest">В каких мероприятиях, проводимых с участием сайта &#34;Детки!&#34;, вы участвовали?</div>


                            <div class="b-vote-res">
                                <b>16%</b>
                                <span>Чемпионат ползунков</span>
                            </div>















                            <div class="b-vote-res">
                                <b>14%</b>
                                <span>Гонки на толокарах</span>
                            </div>















                            <div class="b-vote-res">
                                <b>3%</b>
                                <span>Чемпионат по собиранию пазлов</span>
                            </div>















                            <div class="b-vote-res">
                                <b>12%</b>
                                <span>Форум &#34;Семья&#34;</span>
                            </div>















                            <div class="b-vote-res">
                                <b>12%</b>
                                <span>Игротека &#34;Конструктория&#34;</span>
                            </div>















                            <div class="b-vote-res">
                                <b>16%</b>
                                <span>Новогодний утренник</span>
                            </div>















                            <div class="b-vote-res">
                                <b>17%</b>
                                <span>Фотоконкурс</span>
                            </div>















                            <div class="b-vote-res">
                                <b>4%</b>
                                <span>Конкурс рассказов о родах</span>
                            </div>















                            <div class="b-vote-res">
                                <b>5%</b>
                                <span>Конкурс рецептов</span>
                            </div>















                            <div class="b-vote-res">
                                <b>1%</b>
                                <span>Проект &#34;Мой месяц счастья&#34;</span>
                            </div>

























































                        </form>
                    </div>
                </div>


                <div class="b-right_col_items">
                    <a class="second-title" href="/products/prod4children/1727/" target="_blank">
        <span>
            Боса Ножка - магазин детской обуви
        </span>
                        <img src="/static/images/new/firm_advert.png" border="0" alt=""/>
                    </a>
                    <div class="b-articles">
                        <p>Продажа детской обуви отечественных и зарубежных производителей из натуральных, качественных, экологически безопасных и современных материалов, с учетом особенностей развития детской стопы</p>
                        <a href="/products/prod4children/1727/" target="_blank">Подробные условия</a>
                    </div>
                </div>


                <div class="b-right_col_items">
                    <a class="second-title" href="/news/cat/17/?from=newsskvoz" target="_blank">
                        <span>Не пропустите!</span>
                        <img src="/static/images/new/news_mini.png" border="0" alt=""/>
                    </a>

                    <div class="b-articles">
                        <a class="items" href="/news/15335/" target="_blank">
                            Легород приходит в Тюмень!
                        </a>

                        <p>

                        </p>

                    </div>


                    <a href="/news/cat/17/" target="_blank">Посмотреть все новости</a>

                </div>


                <div class="b-right_col_items">
                    <a class="second-title" href="/recipe/" target="_blank">
                        <span>Рецепт дня</span>
                        <img src="/static/images/new/recept_mini.png" border="0" alt=""/>
                    </a>
                    <a href="/recipe/87/" class="b-random_recipe" target="_blank">
                        <img src="/media/cache/6b/6f/6b6f434e0f2dcb684e7de7c877112e50.jpg?1" width="200" height="150"/>
                        <span>Шарлотка</span>
                    </a>
                </div>


                <div class="b-right_col_items">
                    <a class="second-title" href="/biblio/">
                        <span>Библиотека</span>
                        <img src="/static/images/new/biblioteka_mini.png" border="0" alt=""/>
                    </a>
                    <div class="b-articles">
                        <a class="items" href="/biblio/category144/raznoe/3752/">
                            Как справиться с домашним хозяйством, если вы — мама новорожденного
                        </a>
                        <a class="items" href="/biblio/category135/category150/3751/">
                            10 полезных советов, которые защитят вашего ребенка
                        </a>
                        <a class="items" href="/biblio/category144/holidays/3749/">
                            Вспоминаем легенду о Петре и Февронии: 5 заповедей счастливой семьи
                        </a>
                        <a class="items" href="/biblio/category135/psiholog/3748/">
                            Надо ли рассказывать ребенку о том, что он был зачат с помощью ЭКО
                        </a>
                        <a href="/biblio/">Посмотреть все статьи</a>
                    </div>
                </div>

            </div>
            <div id="footer-text"></div>
        </div>


        <div class="row">


        </div>
        <div class="row">


        </div>
        <div class="row">
            <div class="col-xs-9">


            </div>
            <div class="col-xs-3" style="margin-top: 13px">


            </div>
        </div>
        <div class="row">


        </div>
        <div class="row">


        </div>
        <div class="row text-center" style="position: relative;">
            <div class="head-main-menu"><div class="col-xs-1 head-main-menu_item"><a href="/personnel/">Врачи</a></div><div class="col-xs-1 head-main-menu_item"><a href="/biblio/">Библиотека</a></div><div class="col-xs-1 head-main-menu_item"><a href="/interesno/">Интересно</a></div><div class="col-xs-1 head-main-menu_item"><a href="/blog/">Блоги</a></div><div class="col-xs-1 head-main-menu_item"><a href="/photo/">Альбомы</a></div><div class="col-xs-1 head-main-menu_item"><a href="/club/">Клуб</a></div><div class="col-xs-1 head-main-menu_item"><a href="/coupons/">Скидки</a></div><div class="col-xs-1 head-main-menu_item"><a href="/sp/">Совместные<br>покупки</a></div></div>
        </div>
        <div class="row text-center">
            <div class="head-menu" style="float: right; width: calc(100% - 200px)"><div class="col-xs-2 head-menu_item"><a href="/news/">НОВОСТИ</a></div><div class="col-xs-2 head-menu_item"><a href="/firms/">КАТАЛОГ КОМПАНИЙ</a></div><div class="col-xs-2 head-menu_item"><a href="/conference/">КОНСУЛЬТАЦИИ</a></div><div class="col-xs-2 head-menu_item"><a href="/forum/">ФОРУМ</a></div></div>
        </div>
        <div class="row">

            <div class="sp-buttons"><div class="sp-buttons_inner">





            </div></div>

        </div>
        <div class="row b-footer">
            <a class="b-footer-logo" href="/">
                <img src="/static/images/new/tmn/logo_footer.png" border="0" alt=""/>
            </a>
            <div class="col-xs-3 b-footer-links">
                <p>2004-2017 © "Детки!"</p>

                <a href="/advertising/">Реклама на сайте</a>

                <a href="/rules/">Правила сайта и форума</a>

                <a href="/copyright/">Правовая информация</a>


                <a href="/privacy/" class="b-footer-links_privacy">Защита персональных данных</a>
            </div>
            <div class="col-xs-9">
                <div class="row b-footer-soc">
                    <div style="margin-right: 20px;">

                        <span data-href="http://ok.ru/group/53017841631359" title="Одноклассники">
                            <img src="/static/images/new/ico_ok.png" border="0" alt=""/>
                        </span>

                        <span data-href="https://vk.com/detkityumen" title="Вконтакте">
                            <img src="/static/images/new/ico_vk.png" border="0" alt=""/>
                        </span>

                    </div>
                    <div>
                        <a href="/"><img src="/static/images/new/tmn/home.png" border="0" alt="Домой" title="Домой"/></a>
                        <a href="/callback/">
                            <img src="/static/images/new/tmn/message.png" border="0" alt="Обратная связь" title="Обратная связь"/>
                        </a>
                        <a href="/sitemap/">
                            <img src="/static/images/new/tmn/tree.png" border="0" alt="Карта сайта" title="Карта сайта"/>
                        </a>
                        <a href="/file/">
                            <img src="/static/images/new/tmn/file.png" border="0" alt="Файлообменник" title="Файлообменник"/>
                        </a>
                        <a href="/faq/">
                            <img src="/static/images/new/tmn/quest.png" border="0" alt="Вопрос-ответ" title="Вопрос-ответ"/>
                        </a>
                        <a href="/map/" style="margin-right: 26px">
                            <img src="/static/images/new/tmn/map.png" border="0" alt="Карта" title="Карта"/>
                        </a>
                    </div>
                    <div>
                        <div>
                            <!--LiveInternet counter--><script type="text/javascript"><!--
                        document.write("<a href='http://www.liveinternet.ru/click' " +
                            "target=_blank><img src='http://counter.yadro.ru/hit?t44.6;r" +
                            escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
                                ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                                    screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                            ";" + Math.random() +
                            "' alt='' title='LiveInternet' " +
                            "border=0 width=31 height=31><\/a>");//-->
                        </script><!--/LiveInternet-->
                        </div>
                        <span data-href="http://www.yandex.ru/cy?base=0&amp;host=detkityumen.ru"><img alt="Яндекс цитирования" height="31" src="http://www.yandex.ru/cycounter?detkityumen.ru" width="88" /></span>
                        <!-- HotLog --><script type="text/javascript">
                        var hot_s = document.createElement('script');
                        hot_s.type = 'text/javascript'; hot_s.async = true;
                        hot_s.src = 'http://js.hotlog.ru/dcounter/2404527.js';
                        hot_d = document.getElementById('hotlog_dyn');
                        hot_d.appendChild(hot_s);
                    </script><!-- /HotLog -->
                        <span data-href="http://click.hotlog.ru/?2404527" target="_blank">
    <img alt="HotLog" border="0" src="http://hit6.hotlog.ru/cgi-bin/hotlog/count?s=2404527&amp;im=68" title="HotLog" />
</span>
                        <div style="vertical-align: bottom;">
                            <script type="text/javascript">
                                URL = "http://img.gismeteo.ru/flash/fw88x31.swf?index=28367";
                                w = "88";
                                h = "31";
                                value = "28367";
                                lang = "ru";
                            </script><script type="text/javascript" src="http://img.gismeteo.ru/flash/fcode.js"></script>
                        </div>
                    </div>



                </div>
                <div class="row b-footer-develop">
                    <div class="b-footer-develop_1">
                        <span data-href="http://avermaster.ru" target="_blank" rel="nofollow"><img style="margin-top: -30px" src="/static/images/new/avermaster.png" border="0" alt=""/></span>
                        <span>Программирование и поддержка<br> компании Авермастер, © 2014</span>
                    </div>
                    <div class="b-footer-develop_2">
                        <span data-href="http://jetstyle.ru" target="_blank" rel="nofollow"><img style="margin-top: -20px" src="/static/images/new/jet.png" border="0" alt=""/></span>
                        <span>Дизайн разработан <br>компанией JetStyle ©</span>
                    </div>
                    <span>
                    <img src="/static/images/new/18.png" border="0" alt=""/>
                </span>
                </div>
            </div>
        </div>
    </div>


    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PQMNP8"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PQMNP8');</script>
    <!-- End Google Tag Manager -->

</body>