mixin calculator(data)
    .calculator
        form(action="" method="post").calculator__form
            .calculator__header Калькулятор
            .calculator__content
                .calculator__row
                    .calculator__title
                        label(for="date") Дата оформления вклада
                    .calculator__input
                            input( type="text" class="datepicker-here" id="date" value="дд.мм.гггг")
                .calculator__row
                    .calculator__title
                        label(for="amount") Сумма вклада
                    .calculator__input
                        input(type="text" id="amount")
                    .calculator__range-box
                        input(type="text" name="calculator__range-1").calculator__range#calculator__range-1
                .calculator__row
                    .calculator__title
                        label(for="time") Срок вклада
                    .calculator__input
                        select(name="" id="time")
                            option(value="1 год") 1 год
                            option(value="2 года") 2 года
                            option(value="3 года") 3 года
                            option(value="4 года") 4 года
                            option(value="5 лет") 5 лет
                .calculator__row
                    .calculator__title Пополнение вклада
                    .calculator__input.calculator__input--size
                                ul.calculator__radio-list
                                    li.calculator__radio-item
                                        label
                                            input(type="radio" name="replenish" value="Нет" id="replenish" checked).calculator__radio
                                            span.calculator__radio-custom
                                            span.label Нет
                                    li.calculator__radio-item
                                        label
                                            input(type="radio" name="replenish" value="Да" id="replenish").calculator__radio
                                            span.calculator__radio-custom
                                            span.calculator__radio-label Да
                .calculator__row
                    .calculator__title
                        label(for="replenishment") Сумма пополнения вклада
                    .calculator__input
                        input(type="text" id="replenishment" )
                    .calculator__range-box
                        input(type="text" name="#calculator__range-2").calculator__range#calculator__range-2
            .calculator__footer
                .calculator__buttons
                    button(type="submit" name="sum").btn Рассчитать
                .calculator__sum Результат:
                    span.calculator__sum-total  10 250
                    |руб






