.phone {
  float: right;
  width: 180px;
  margin-top: 12px;
  margin-right: 10px;
  line-height: 1.2;
  font-family: "Europe", sans-serif;
  font-size: 18px;
}

.phone a {

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #eb5017;
  }
}

