mixin head(title)
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title="test"

    link(href="static/css/separate-css/normalize.css", rel="stylesheet" type="text/css")
    link(href="static/css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css")